<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <h1>My Products</h1>
                <p>List of all the products</p>

                <% if(prods.length> 0) { %>
                    <div>
                        <% for (let product of prods) { %>
                            <article>
                                <h1>
                                    <%= product.title %>
                                </h1>
                                <div class="card__image">
                                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2><%= product.price %></h2>
                                    <p><%= product.description %></p>
                                </div>
                                <a href="/admin/edit-product">
                                    <button>Edit</button>
                                </a>
                                <form action="/admin/delete-product" method="POST">
                                    <button type="submit">Delete</button>
                                </form>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Product Found</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>